* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0a0a0a;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
}


@media (max-width: 480px) {
  /* Cards de login y register */
  .card {
    padding: 24px !important;
    border-radius: 16px !important;
  }
}

